<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="DbConnection" connectionString="Server=sql2-g\mssql2012;Database=SmartSpy;User Id=SarpinosDevelopment514;Password=hmu3kRRNzrIOkIJ26SYk;"/>
  <add name="HiveConnection" connectionString="DSN=MyHive86;UID=hive;PWD=hive"/>
</connectionStrings>