<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="projectName" value="Sarpinos.WebClient"/>
  <variable name="serverName" value="Development"/>
  <variable name="ShortLayout" value="${longdate} ${logger} ${message}  ${onexception:${newline}EXCEPTION OCCURRED\:${newline}${exception:format=tostring}}"/>
  <variable name="DetailedLayout" value="${longdate}|${level:uppercase=true}: Project: ${projectName}; Server: ${serverName}; Machine: ${machinename}; ${message}; ${exception:format=message,stacktrace:separator=*}"/>

  <targets>
    <target name="debugger" xsi:type="Debugger" layout="${longdate} ${logger}::${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>
