<div id="control-painel-block" class="container-fluid control-panel">

        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7  l-settings-block">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                <h4 class="velocity-header">Velocity</h4>

                <div class="speed-gauge-container">
                    <span data-role="radialgauge"
                            data-scale="{ min: 0, max: 6 }"
                            data-bind="value: velocity"
                            class="speed-gauge"></span>
                </div>

            </div>

            <div class="col-lg-2 col-md-2 col-xs-2 speed-control-block">
                <h4>Speed</h4>
                <h4>control</h4>
                <input id="speed-control-slider" class="speed-gauge-value" data-role="slider" data-orientation="vertical" data-min="0" data-max="6" data-small-step="0.5" data-large-step="1" data-show-buttons="false" data-bind="value: velocity">
            </div>

            <div class="col-lg6 col-md-6 col-sm-6 col-xs-6">
                <h3 class="all-time-label"> All Time Counter</h3>
                <input data-role="maskedtextbox"
                       data-mask="00:00:00"
                       data-bind="value: allTime"
                       class="all-time-input">
            </div>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 r-settings-block">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 crl-progress-block">
                <h2>Progress</h2>
                <div class="k-content ctr-linear-progress-container">    
                    <span id="ctr-linear-progress" data-role="lineargauge" data-gauge-area="{width:300}"
                            data-scale="{ min:0, max: 100, minorUnit: 2, majorUnit: 10, vertical: false}"
                        data-pointer="[ {value: 0, color: 'green'}, {value:0, color: 'blue', margin:10}]"></span>
                </div>
                <button class="btn btn-primary btn-lg start-button" data-bind="click:toogleUpdateProgress"><span data-bind="text:statusText"></span></button>
            </div>
        </div>

</div>

