<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Smart Spy", MVC.Home.Index(), new{@class="navbar-brand"})
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Кластеры", MVC.Cluster.GetList())</li>
                <li>@Html.ActionLink("Пользователи", MVC.User.GetList())</li>
            </ul>
        </div>
    </div>
</nav>
