@{
    Layout = MVC.Shared.Views._Layout;
    ViewBag.Title = "Кластер";
}

<h2>Кластер</h2>


<div class="row">
    
    <div class="col-lg-2 col-lg-offset-1 cluster-short-info-block">
        <ul>
            <li>
                <label>Id</label>
                <span>123</span>
            </li>
            <li>
                <label>Имя</label>
                <span>Нуливой кластер</span>
            </li>
            <li>
                <label>Пользователи</label>
                <span>1237</span>
            </li>
        </ul>
        <button class="btn btn-primary">Назад</button>
    </div>
     
</div>