@{
    Layout = MVC.Shared.Views._Layout;
    ViewBag.Title = "K-means кластеры";
}
<div id="all-k-clusters-chart">
    <div class="col-lg-1 col-md-1"></div>
    
    <div class="main-content-block col-lg-10 col-md-10">
        <div class="col-lg-2">
            <h2>K-means Кластеры</h2>
            <input class="cluster-set-dropdawn" style="display:none"
                   data-role="dropdownlist"
                   data-bind="value: currentSet, source: sets, events: {change: onSetChange }, visible:dropdownVisible, enabled: dropdownEnabled" />
        </div>
        <div class="col-lg-10">
            <div class="kmean-gears" data-bind="invisible:clusterDataDawnloaded"></div>
            <div class="clusters-pie-block" style="display: none" data-bind="visible:clusterDataDawnloaded">

                <div style="display: none" class="no-clusters-text" data-bind="visible: showNoClustersMessage">Нет кластеров, либо они пусты</div>

                <div data-role="chart"
                     data-series-defaults="{ type: 'pie',  labels: { template: 'Cluster: #= category # - #= roundClusterSize(value) #', position: 'outsideEnd',visible: true, background: 'transparent', font: '18px Arial,Helvetica,sans-serif' }}"
                     data-tooltip="{ visible: true, template: 'Cluster: #= category # - #= roundClusterSize(value) #' , font: '18px Arial,Helvetica,sans-serif'}"
                     data-series="[{field: 'UsersCount', categoryField: 'Id'}]"
                     data-series-colors="['#7FFFD4','#FFE4C4','#0000FF','#8A2BE2','#A52A2A','#5F9EA0','#DC143C','#006400','#2F4F4F','#FF1493','#FFD700','#ADFF2F','#4B0082','#2E8B57','#6A5ACD']"
                     data-legend="{visible: false}"
                     data-bind="source: clusters, events: { seriesClick: onClusterClick}, visible: showClustersChart" class="main-clusters-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1"></div>
</div>

@section Scripts {
    <script type="text/javascript">
        window.algSpeed = function (label) {
            if (label === 0)
                return label;
            return label + "x";
        };

        window.roundClusterSize = function (size) {
            return (size).toFixed(0);
        }
        require(["kMeansClustersChartViewModel"], function (KMeansClustersChartViewModel) {

            var viewModel = kendo.observable(new KMeansClustersChartViewModel());
            kendo.bind($("#all-k-clusters-chart"), viewModel);
            viewModel.initData();
        });
    </script>
}
