@using Newtonsoft.Json
@using WebClient.Models;
@{
    Layout = MVC.Shared.Views._Layout;
    ViewBag.Title = "Главная";
}


<h1>Clusters</h1>

<div id="all-clusters-chart">
    <div data-role="chart"
         data-series-defaults="{ type: 'pie', labels: { template: 'Cluster: #= category # - #= roundClusterSize(value) #', position: 'outsideEnd',visible: true, background: 'transparent' }}"
         data-tooltip="{ visible: true, template: 'Cluster: #= category # - #= roundClusterSize(value) #' }"
         data-series="[{field: 'Size', categoryField: 'Id'}]"
         data-legend="{visible: false}"
         data-bind="source: clusters, events: { seriesClick: onClusterClick}" class="main-clusters-chart"></div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function() {
            window.algSpeed = function (label) {
                if (label == 0)
                    return label;
                return label + "x";
            };

            window.roundClusterSize = function(size){
                return (size).toFixed(2) + "%";
            }

            var viewModel = kendo.observable(new ClustersChartViewModel);
            kendo.bind($("#all-clusters-chart"), viewModel);
        })
    </script>
    }