@using Newtonsoft.Json
@using WebClient.Models;
@{
    Layout = MVC.Shared.Views._Layout;
    ViewBag.Title = "Главная";
}


<h1 class="app-title">Smart Spy</h1>



@section Scripts {
    <script type="text/javascript">

        $(document).ready(function() {
            window.algSpeed = function (label) {
                if (label == 0)
                    return label;
                return label + "x";
            };

            window.roundClusterSize = function(size){
                return (size).toFixed(2) + "%";
            }

        })
    </script>
}